/* =========== DESTAQUE DA ANOTACAO =============== */
.anotacao_conteudo {
   position: relative;
   float: left;
   width: 175px;
}

x-anotacao-post_it {
   text-align: left;
   clear: both;
   position: relative;
   float: right;
   padding: 10px;
   margin-left: -220px;
   margin-right: 120px;
   margin-bottom: 5px;
   color: black;
   background: rgb(251, 255, 184);
   font-size: 13px;
   min-height: 20px;
   width: 220px;
   left: 230px;
   top: -10px;
   border-radius: 3px;
   -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.35);
   -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.35);
   box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.35);
   overflow-wrap: anywhere;
   z-index: 1000;
}


x-anotacao-destaque {
   background: rgb(249, 255, 126);
}

div.anotacao_excluir {
   text-align: center;
   background: rgb(191, 176, 13);
   color: rgb(242, 242, 242);
   float: right;
   width: 20px;
   height: 19px;
   cursor: pointer;
   border-radius: 30px;
}

div.anotacao_excluir:hover {
   background: #c7c978;
}
