.problema_fixed {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 70px;
    border-radius: 4px;
    width: 480px;
    z-index: 2000;
    border: solid 0.5px;
    height: 420px;
	background: #ffffff;
}

.problema_container {
	padding: 10px;
}

.problema_header {
    width: 100%;
    height: 36px;
    color: #f2f2f2;
    font-size: 18px;
    padding: 4px;
    text-align: center;
    background-color: rgb(13, 59, 142);
    cursor: pointer
}